<div *ngIf="book">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/books">Книги</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ book.title }}
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <a
        class="btn {{
          chapterId === chapter.id ? 'btn-primary' : 'btn-secondary'
        }} btn-sm m-1"
        *ngFor="let chapter of book.chapters"
        routerLink="/books/{{ bookId }}/{{ chapter.id }}"
      >
        {{ chapter.id | addLeadingZeroes }}
      </a>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <div *ngIf="chapter">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngIf="chapter.audios && chapter.audios[1]">
              <app-audio-player
                [audioText]="chapter.audios[1].text"  
                [audioTitle]="'Юрӑ'"
                [filePath]="prepareUrl(chapter.audios[1].file)"
              ></app-audio-player>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"  *ngIf="chapter.audios && chapter.audios[0]">
                <app-audio-player
                  [audioText]="chapter.audios[0].text"
                  [audioTitle]="'Итлемелли материалсем'"
                  [filePath]="prepareUrl(chapter.audios[0].file)"
                ></app-audio-player>
            </div>
        </div>
        <div class="mb-2">
          <b>Вуламалли материалсем:</b>
        </div>
        <div class="row">
          <div
            class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
            *ngFor="let page of chapter.pages"
          >
            <img
              [alt]="'Страница ' + page.name"
              [src]="prepareUrl(page)"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
